################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlantifyApplication
/PlantifyApp.Apis/Assest/User_images
